body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

h3 {
    width: 100%;
    margin: 0 0 20px 0;
}

.container {
    padding: 0px 50px;
    display: flex;
}

form {
    width: 35%;
    padding: 25px;
    border: solid 2px;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-field {
    width: 50%;
    padding: 5px 15px;
    margin-bottom: 20px;
    border: solid 1px;
    border-radius: 5%;
}

.input {
    margin-top: 7px;
}

#nameOnCard {
    border: none;
    outline: none;
}

#submit {
    display: block;
    width: 50%;
    background-color: black;
    color:white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5%;
    cursor: pointer;
}

.notes {
    margin-left: 50px;
    font-size: 30px;
    display: none;
}

.notes {
    color: rgb(0, 0, 171);
}

.payment-status span:last-child {
    color: rgb(0, 188, 0);
}
